{% if product.tags contains "alert:black-friday-sale" %}

<p class="black-friday-sale">This product will be shipped on (or after) August 4th as our warehouse is currently closed for the year-end inventory count.</p>

{% endif %}