{% if product.tags contains "sale:Final" %}

<p class="final-sale-notice"><b>FINAL SALE! NO RETURNS/EXCHANGE - EXCLUDED FROM ALL DISCOUNT CODES.</b><br><i>Due to limited inventory, it is possible we may not be able to ship this item. If this occurs, you will be notified within 4 days and be refunded automatically.</i></p>

{% endif %}