{% if product.tags contains "alert:Year-End Inventory" %}

<p class="year-end-inventory-notice">This product will be shipped on (or after) August 4th as our warehouse is currently closed for the year-end inventory count.</p>

{% endif %}