.d-none{
    display: none!important;
}
@media screen and (min-width:1220px) {
    .shopping--cart_links svg{
        width: 20px;
        height: 20px;
    }
    .shopping--cart_links .js-cart-count{
        font-size: 21px;
    }
}
@media screen and (max-width: 740px) {
    .mobile-menu__item svg{
        height: 14px;
    }
    .shopping--cart_links svg{
        width: 20px;
        height: 20px;
    }
    #top-bar .row ul.localization__options{

    }
    #top-bar .row ul#social-links{
        display: none;
        grid-column: 1 / span 2;
    }
    ul.shopping--cart_links > li a,
    ul.shopping--cart_links > li button{
        padding: 0 5px 0 0 !important;
    }
    ul.shopping--cart_links > li:last-of-type a,
    ul.shopping--cart_links > li:last-of-type button{
        padding: 0!important;
    }
    header{
        padding-top: 0;
    }
    #identity{
        padding-bottom: 2px;
    }
    ul.shopping--cart_links li button.slideout__trigger-search{
        padding-right: 13px!important;
    }
    .header_language_selector .localization__options{
        gap: 8px;
    }
    #logo img{
        max-width: 57px!important;
        margin-top: -0.5px;
    }
    #logo a {
        margin-right: -6px;
    }
    .selectors-form__item{
        margin: 0;
    }
    .header_language_selector .disclosure__toggle{
        letter-spacing: 0;
        gap: 2px;
    }
}
@media screen and (max-width: 980px) {
    .header_language_selector{
        position: absolute;
        right: 87px;
    }
}
#mens-size-chart{
    max-width: 100%;
    margin: 0;
}
#mens-size-chart .step-section{
    max-width: 100%;
}
#mens-size-chart .step-section table{
    max-width: 100%;
}
.size-guide-inner .container,
.size-guide-inner .image-container{
    max-width: 100%;
}
.size-guide-content img{
    align-items: center;
    max-width: 75% !important;
    height: auto;
}
.size-guide-content .image-container{
    text-align: center;
    overflow: hidden;
}
.image-container .content,
.image-container .content table{
    max-width: 100%;
}

/*cart drawer*/
#preview-bar-iframe{
    display: none !important;
}
#slideout-ajax-cart{
    overflow: hidden;
}
#slideout-ajax-cart .ajax-cart__cart-items{
    overflow-y: scroll;
    height: 100%;
}
/*cart drawer*/

.boost-sd__header-image-inner{
    height: calc(100% + 120px);
}
/*cart icon*/
.cart-links__link-cart .js-mini-cart-trigger{
    position: relative;
}
.cart-links__link-cart .js-cart-count{
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    bottom: 20%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #212b36;
    left: -5px;
    font-size: 11px;
    color: #fff;
    letter-spacing: -.5px;
    line-height: 15px;
}
@media screen and (max-width: 740px) {
    .cart-links__link-cart .js-cart-count {
        font-size: 10px;
        width: 15px;
        height: 15px;
        /*padding-right: 2px;*/
    }
}
/*cart icon*/
